#about {
  margin-left: 50px;
  margin-right: 50px;
  border: 2px solid red;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: red;
  background-color: khaki;
}

h2{
  text-align: center;
  color: darkorange;
}

.container{
  margin: 0 auto;
  padding-bottom: 340px;
  margin-top: 0px;
}

.us{
  margin-top: 80px;
}
